on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  discovery-job:
    runs-on: ubuntu-latest
    outputs:
      devcontainers: ${{ steps.discover-containers.outputs.devcontainers }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Discover devcontainers
        id: discover-containers
        run: |
          devcontainers="$(ls .devcontainer/**/devcontainer.json | jq --raw-input --slurp --compact-output 'split("\n")[:-1]')"
          echo "devcontainers=$devcontainers" >> "$GITHUB_OUTPUT"

  verify-job:
    runs-on: ubuntu-latest
    needs: discovery-job
    strategy:
      matrix:
       devcontainer: ${{ fromJson(needs.discovery-job.outputs.devcontainers) }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Set up devcontainer CLI
        run: npm install --global @devcontainers/cli

      - name: Start devcontainer
        run: |
          devcontainer up --workspace-folder . --config ${{ matrix.devcontainer }} --skip-post-create

      - name: Run make init
        run: |
          if [ "${{ matrix.devcontainer }}" == ".devcontainer/c-sharp/devcontainer.json" ]
          then
            echo "=============================="
            echo "Debugging c-sharp devcontainer"
            devcontainer exec --workspace-folder . --config .devcontainer/c-sharp/devcontainer.json whoami
            echo "=============================="
          fi
          devcontainer exec --workspace-folder . --config ${{ matrix.devcontainer }} make init

      - name: Run make verify
        run: |
          devcontainer exec --workspace-folder . --config ${{ matrix.devcontainer }} make verify

